<div class="page-header">
  <div class="pull-right">
    <%= link_to "Add Workout", new_workout_path, class: "btn btn-success"%>
  </div>
  <h1>All Workouts</h1>
</div>

<% @workouts.each do |workout| %>
  <div class="workout">
    <strong><%= workout.location %></strong>
    <p><%= workout.user.nickname %><br />
    <p><%= time_ago_in_words(workout.date) + " ago" %><br />
    <%= workout.notes %></p>
    <div class="meta">
      <%= link_to "Show", workout %>
      <span class="admin">
        | <%= link_to "Edit", edit_workout_path(workout) %>
        | <%= link_to "Delete", workout, method: :delete, data: { confirm: "Are you sure you want to delete this status?"} %>
    </div>
  </div>
<% end %>