<div class="row">
	<div class="eight columns">
		<h2 class="subheader"><%= link_to "Your Mountain Journey", home_index_path %></h2>
		
	</div>
</div>
<% if !user_signed_in? %>
	<div class="row">
		<div class="six columns">
			<div class="panel">
				<h1>Register</h1>
				<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
				    <%= devise_error_messages! %>
				    <div><%= f.label :first_name %><br />
				    	<%= f.text_field :first_name %></div>

				    <div><%= f.label :last_name %><br />
				    	<%= f.text_field :last_name %></div>

				    <div><%= f.label :nickname %><br />
				    	<%= f.text_field :nickname %></div>

				    <div><%= f.label :email %><br />
				    <%= f.email_field :email, :autofocus => true %></div>

				    <div><%= f.label :password %><br />
				    <%= f.password_field :password %></div>

				    <div><%= f.label :password_confirmation %><br />
				    <%= f.password_field :password_confirmation %></div>

				    <div><%= f.submit "Sign up" %></div>
			  	<% end %>
      			
		  	</div>
	 	</div>
	 	<div class="six columns">
			<div class="panel">
				<h1>Login</h1>
				<%= simple_form_for("user", :url => user_session_path) do |f| %>
			  		<%= f.text_field :email %>
			  		<%= f.password_field :password %>
			  		<%= f.check_box :remember_me %>
			  		<%= f.label :remember_me %>
			  		<%= f.submit 'Sign in' %>
			  		<%= link_to "Forgot your password?", new_password_path('user') %>
			  	<% end %>
		  	</div>
	 	</div>
  	</div>
  	
<% else %>
	<div class="row">
		<div class="three columns panel">
			<%= image_tag current_user.gravatar_url %>
			<h4 class="subheader"><%= @total_workouts %> WODs in 2013</h4>
			<p><%= @num_workouts_in_last_week %> WODs in last 7 days</p>
			<p>Last WOD was <%= time_ago_in_words(current_user.last_workout.date) %> ago</p>
		</div>
	</div>

	<div class="row">
		<ul class="block-grid four-up mobile-one-up">
		<% @wod_months.keys.sort.reverse.each do |month| %>
			
				<li>
					<div class="panel"> 
						<h3><%= month.strftime("%B") %></h2>  
		  				<h3 class="subheader"> <%= @wod_months[month].count %> WODs </h3>
		  			</div>
	  			</li>
		<% end %>  
		</ul> 
	</div>
	<div class="row">
		<div class="six columns">
				<a class="radius button" href=<%= new_workout_path %>>Add WOD</a>
		</div>
	</div>
<% end %>

