<div class="row">
	<div class="eight columns">
		<h2 class="subheader"><%= link_to "Your Mountain Journey", home_index_path %></h2>
		<h4 class="subheader"> <%= @wods_for_current_year.count %> WODs This Year </h4>
	</div>
</div>
<% if !user_signed_in? %>
	<div class="row">
		<div class="four columns">
			<div class="panel">
				<h1>Welcome!</h1>
				<%= simple_form_for("user", :url => user_session_path) do |f| %>
			  		<%= f.text_field :email %>
			  		<%= f.password_field :password %>
			  		<%= f.check_box :remember_me %>
			  		<%= f.label :remember_me %>
			  		<%= f.submit 'Sign in' %>
			  	<%= link_to "Forgot your password?", new_password_path('user') %>
		  	</div>
	 	</div>
  	</div>
	<% end %>
<% else %>
	<div class="row">
		<ul class="block-grid four-up mobile-two-up">
		<% @wod_months.keys.sort.reverse.each do |month| %>
			
				<li>
					<div class="panel"> 
						<h3><%= month.strftime("%B") %></h2>  
		  				<h3 class="subheader"> <%= @wod_months[month].count %> WODs </h3>
		  			</div>
	  			</li>
		<% end %>  
		</ul> 
	</div>
	<div class="row">
		<div class="six columns">
			<div class="panel">
				<p><%= @num_workouts_in_last_week %> WODs in last 7 days</p>
			</div>
		</div>
		<div class="six columns">
				<a class="radius button" href=<%= new_workout_path %>>Add WOD</a>
		</div>
	</div>
<% end %>

